<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.WeixinBaseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.server.pojo.WeixinBaseInfo">
        <id column="wx_id" property="wxId" />
        <result column="nick_name" property="nickName" />
        <result column="state" property="state" />
        <result column="chat_room_count" property="chatRoomCount" />
        <result column="key" property="key" />
        <result column="parent_wxid" property="parentWxid" />
        <result column="uuid" property="uuid" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="last_time" property="lastTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="remark_name" property="remarkName" />
        <result column="head_img_url" property="headImgUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wx_id, nick_name, state, chat_room_count, key, parent_wxid, uuid, create_time, update_time, last_time, create_user, update_user, remark_name, head_img_url
    </sql>

</mapper>
